@import url("https://use.typekit.net/hqh0vbt.css");
:root {
    --col_1: #6A00BA;
    --col_2: #A806C8;
    --col_3: #FF8000;
    --col_4: #0FFC4E;
    --col_5: #5A5FFF;
    --col_6: #FCEED2;
    --col_7: #424242;
    --col_8: #4B4B4B;
    --col_9: #DCDCDC;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--col_4);
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.good_times_regular {
    font-family: good-times, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.futura_pt_book {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.futura_pt_medium {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.futura_pt_heavy {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins_regular {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.applink {
    background: #FCEED2 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 0 10px;
}

.applink a {
    color: #424242 !important;
}

nav li.nav-item {
    margin: 0 19px;
}

.navbar-bg {
    background-color: var(--col_7);
}

.nav-undrline {
    display: block;
    height: 3px;
    background-color: var(--col_4);
    width: 0%;
    transition: width .5s ease;
}

.nav-href {
    color: var(--col_4) !important;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-out;
}

.nav-href.active .nav-undrline {
    width: 100%;
}

.nav-href:hover .nav-undrline {
    width: 100%;
}

.top_logo {
    width: 50%;
}

span.error_msg {
    font-size: 12px;
}

.top_virus {
    color: var(--col_4);
    font-size: 12px;
}

.top-banner {
    /* background-color: var(--col_8); */
    background-image: url(../images/Group29.png);
    background-size: cover;
}

.top-banner h1 {
    color: var(--col_4);
    font-size: 70px;
}

.register_now {
    background-color: var(--col_4);
    padding: 15px 50px;
    outline: 0;
    border: 0;
    border-radius: 50px;
    font-size: 20px;
    transition: box-shadow .5s;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.register_now:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.second_sec {
    background-image: url(../images/Rectangle1.png);
    /* background-color: var(--col_8); */
}

.second_sec img {
    width: 30%;
}

.second_sec p {
    color: var(--col_4);
    ;
}

.chapter {
    background-color: var(--col_8);
}

.chapter span {
    color: var(--col_4);
    white-space: nowrap;
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 100px 0 0 0;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    word-spacing: 15px;
}

#btn_register {
    background-color: var(--col_8);
    color: var(--col_4);
    border-radius: 35px;
    width: 180px;
    padding: 10px 0;
}

.learn,
.meetspeaker {
    background-color: var(--col_9);
}

.chapter_details {
    background-color: var(--col_8);
}

.chapter_details img {
    transform: scaleX(-1);
}

.chapter_details h3 {
    color: var(--col_4);
}

.learn h1 {
    background-color: var(--col_8);
    color: var(--col_4);
    padding: 40px 0;
    margin: 0;
}

.learn .secnd {
    background-color: var(--col_8);
    color: #f8f9fa!important;
    position: relative;
}

.ecertificate {
    color: var(--col_4);
}

.learn .para {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.speaker {
    background-color: var(--col_4);
    padding: 0 20px 0 0px;
}

.speaker h6 {
    padding: 10px 0px 10px 15px;
}

.speaker.mt-10 {
    margin-top: 100px;
}

.meetspeakerdetails {
    background-image: url(../images/speaker_bg.png);
    background-size: 100%;
}

.faqs {
    background-color: var(--col_9);
}

.faqs p {
    font-size: 30px;
    cursor: pointer;
    line-height: 1;
}

.faqs span {
    display: none;
    margin: 0 35px;
    padding: 0 30px;
    border-left: 3px solid var(--col_4);
}

.faq.active p::before {
    content: "-" !important;
    font-size: 50px;
    padding-right: 15px;
    color: var(--col_4);
}

.faq.active span {
    display: block;
    margin-bottom: 50px;
}

.faq p::before {
    content: "+";
    font-size: 50px;
    padding-right: 15px;
    color: var(--col_4);
}

.mobileapp {
    background-color: var(--col_9);
}

footer {
    background-color: var(--col_4);
}

footer .social_icon {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    margin-left: 20px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: inherit;
}

#covid_reg_form input,
#covid_reg_form select,
#covid_reg_form textarea {
    background-color: var(--col_7);
    color: var(--col_4);
}

#covid_reg_form label {
    color: var(--col_4);
}

#covid_reg_form option {
    color: var(--col_4);
}

select:invalid {
    color: var(--col_4);
}

#covid_reg_form ::placeholder {
    color: var(--col_4);
    opacity: 1;
}

#covid_reg_form :-ms-input-placeholder {
    color: var(--col_4);
}

#covid_reg_form ::-ms-input-placeholder {
    color: var(--col_4);
}

#covid_reg_form .stu_class span {
    background-color: var(--col_8);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    color: var(--col_4);
    cursor: pointer;
    margin-bottom: 15px;
}

#covid_reg_form .stu_class span.active {
    background-color: var(--col_4);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    color: var(--col_8);
    cursor: pointer;
}

#covid_reg_form .modal-content {
    background-color: #000c;
}

.meetspeakerdetails h5 {
    color: var(--col_4);
}

.btn-close {
    color: var(--col_4) !important;
}

.topmask {
    text-align: left;
    position: relative;
}

.gearup span {
    position: absolute;
    color: #fff;
    right: 0;
    bottom: 20%;
    font-size: 35px;
}

.learn_padding {
    padding: 50px 50px 0 100px;
}

.navbar-toggler .fa-bars {
    color: var(--col_4);
}

.second_sec p {
    font-size: 1.2rem;
}

.chapterdate {
    background-color: var(--col_4);
    color: var(--col_8);
    padding: 5px 10px;
}

.moblediv {
    display: none;
}

.padd-end {
    padding-right: 3rem!important;
}

.regiter_floatinf {
    position: fixed;
    bottom: 0;
    background-color: var(--col_4);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
}